<!DOCTYPE html>
<html>
<head>
    <title>CV Upload et Affichage</title>
</head>
<body>
    <h1>Charger des CV</h1>
    <form action="{{ url_for('upload_and_display') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <input type="submit" value="Charger">
    </form>

    <h2>Données des CV</h2>
    <table border="1">
        {% for row in data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
